.h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 105%; /* 33.6px */
  letter-spacing: -0.64px;
  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
    font-size: 80px;
  }
}

.h2 {
  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
  }
}

.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
    font-size: 50px;
  }
}

.h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%; /* 21.6px */
  letter-spacing: -0.4px;
  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
    font-size: 40px;
  }
}

.p1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.32px;
  @include tablet {
  }

  @include desktop {
    font-size: 24px;
  }
}

.p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.28px;
  @include tablet {
  }
  @include laptop {
  }

  @include desktop {
    font-size: 18px;
  }
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%; /* 16.8px */
  letter-spacing: -0.28px;
  @include tablet {
  }
  @include laptop {
  }

  @include desktop {
    font-size: 18px;
  }
}

.color {
  &-white {
    color: var(--white);
  }

  &-text {
    color: var(--Text);
  }

  &-light-violet {
    color: var(--Light-violet, #e5e1ff);
  }

  &-error {
    color: var(--color-error);
  }
}

.align {
  &-start {
    text-align: start;
  }

  &-center {
    text-align: center;
  }

  &-end {
    text-align: end;
  }
}

.fontWeight {
  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }
}

.wrapper {
  white-space: pre-wrap;
}
