.wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 8;
  transition: all 0.3s;
  padding-top: 12px;
  padding-right: var(--removed-body-scroll-bar-size);
  padding-bottom: 12px;
  width: 100%;
  @include desktop {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &.scrolled {
    background: var(--Glass-Box, rgba(24, 14, 47, 0.8));
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  @include desktop {
    width: 210px;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
  button {
    padding: 0 15px;
    height: 34px;
    span {
      font-size: 12px;
      line-height: 100%;
    }
  }
  @include desktop {
    gap: 35px;
    button {
      padding: 0 20px;
      height: 56px;
      span {
        font-size: 18px;
      }
    }
  }
}

.btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  span {
    transition: all 0.3s ease;
    background: #d7c4ff;
    width: 20px;
    height: 2px;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  @include tablet {
  }
}

///////////////// modal styles

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 12px 15px 45px;
  height: 100%;
  overflow: auto;
}

.menu-modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 140px;
}

.accordionWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordionTrigger {
  > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &[data-state='open'] {
    .arrowIcon {
      transform: rotate(180deg);
    }
  }
}

.arrowIcon {
  transition: transform 0.3s ease;
}

.menu-modal-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
  padding-left: 25px;
}

.socials-links {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: auto;
  padding-top: 30px;
}

//////navigation

.wrapper {
  .list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .text {
    transition: 0.3s;
  }

  .withSubMenu {
    display: flex;
    position: relative;
    align-items: center;
    padding-right: 18px;
  }

  .iconDown {
    display: block;
    position: absolute;
    right: 0;
    transition: transform 0.3s;
  }

  .custom-wrapper {
    position: absolute;
    top: 100%;
    left: 0px;
    transform: translateY(10px);
    opacity: 0;
    transition:
      opacity 0.3s,
      transform 0.3s;
    cursor: auto;
    padding-top: 15px;
    // width: 272px;
    pointer-events: none;
  }

  .subMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    background: rgba(55, 38, 97, 0.9);
    padding: 30px;
  }

  .subMenuText {
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  .listItem {
    cursor: pointer;
    p {
      transition: 0.3s;
    }

    &:hover {
      .custom-wrapper {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
      }

      .iconDown {
        transform: rotate(180deg);
      }
      .text {
        color: var(--Accent, #7f58ff);
      }
    }
  }

  .linkWithoutSubMenu,
  .subMenuLink {
    display: block;
    transition: 0.3s;
    width: max-content;
    &:hover {
      .subMenuText {
        border-bottom: 1px solid var(--Accent, #7f58ff);
        color: var(--Accent, #7f58ff);
      }
    }
  }

  @include desktop {
    .list {
      gap: 30px;
    }
  }
}

.all-wrapper {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  margin-left: auto;
  border-bottom: 1px solid transparent;
  padding-top: 5px;
  width: fit-content;
  &:hover {
    border-bottom: 1px solid var(--Accent, #7f58ff);
    p {
      color: var(--Accent, #7f58ff);
    }
  }
}
