.wrap {
  padding: 0 15px;
  width: 100%;

  @include tablet {
    padding: 0 30px;
  }

  @include laptop {
    margin: 0 auto;
    max-width: 1440px;
  }

  @include desktop {
    max-width: 1700px;
  }
  &.wide {
    @include desktop {
      padding: 0 50px;
      max-width: 1920px;
    }
  }
}
