:root {
  --font-primary: sans-serif;
  --white: #ffffff;
  --Text: #d7c4ff;
  --Dark-violet: #312751;
  --Light-violet: #e5e1ff;
  --Light-violet-2: #f6f6f6;
  --Main-violet: #7f58ff;
  --Additional-violet: #643fce;
  --Additional-violet-2: #9180ff;
  --color-error: #f53f4d;
}
