:root {
  --font-primary: sans-serif;
  --color-white: #ffffff;
  --color-red: #770000;
  --color-black: #000;
  --color-grey: #d4cfc4;
  --color-milk: #fbf5e7;
  --color-dark-grey: #444444;
  --color-milk-30: rgba(251, 245, 231, 0.3);
  --color-error: #f53f4d;
}
