.wrapper {
  display: flex;
  flex-direction: column;

  .AccordionTrigger {
    @include reset-btn;
    display: flex;
    align-items: center;
  }

  .AccordionContent {
    overflow: hidden;
  }

  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
  }
}

.AccordionContent[data-state='open'] {
  animation: slideDown 300ms linear;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms linear;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
