.wrapper.wrapper {
  .textarea.textarea.textarea {
    display: block;
    padding: 14.5px 15px 0 0;
    height: auto;
    min-height: 100px;
    resize: horizontal;

    @include tablet {
      padding: 18px 20px 0 0;
    }

    @include laptop {
      padding: 14.5px 15px 0 0;
    }

    @include desktop {
      padding: 18px 20px 0 0;
    }
  }
}
